
parameters:
  excludes_analyse:
    - %rootDir%/../../../vendor/
  level: max
  paths:
    - %rootDir%/../../../src

  inferPrivatePropertyTypeFromConstructor: true
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
